@font-face {
    src: url(../fontdigital/DIGITALDREAMSKEWNARROW.ttf);
    font-family: digital skew narrow;
}
@font-face {
    src: url(../fontdigital/DIGITALDREAMFAT.ttf);
    font-family: digital fat;
}