body {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
}
    .machine {
        margin-top: 100px;
        display: inline-block;
        grid-column: 2/3;
    }   
        .controls {
            background-color: #777;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100px;
        }

