body {
    background-color: black;
    background-image: url(../img/wood.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 94% 1fr;
}
    .machine {
        background-color: hsl(230, 50%, 20%);
        background-image: url(../img/bluepcb.jpg);
        background-size: contain;
        margin-top: 2vh;
        display: inline-block;
        grid-column: 2/3;
        padding: 5px 5px;
        border: black 3px solid;
        border-radius: 20px;
        box-shadow: 1px 10px 10px 10px #111f;
    }
    