.track {
    background-color: #9992;
    background-image: radial-gradient(farthest-corner at 40% 60%, #ddd3, #aaab);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78px;
    margin: 1px 0px;
    border: #7777 2px solid;
    border-radius: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 30px;
}
.track:last-child {
    border-bottom-right-radius: 10px;
}
    .name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 80%;
        float: left;
        border-right: 2px solid #4446;
        border-radius: 8px;
    }
        .name > i {
            display: inline-block;
            width: 8%;
            margin-left: 5%;
            color: #444;
        }
        .name > span {
            display: inline-block;
            font-size: 18px;
            width: 80%;
            text-align: right;
            color: #222;
            margin-left: 7%;
            cursor: default;
        }
            .name > span::after {
                content: ':';
            }
    .seq {
        display: flex;
        position: relative;
        align-items: center;
        width: 63%;
        height: 100%;
        float: left;    
    }
        .seq > form {
            display: flex;
            position: absolute;
            flex-flow: column;
            flex-wrap: wrap;
            width: 95%;
            height: 78px;
            margin-left: 5%;
        }
            .seq label {
                background-color: hsla(230, 30%, 30%, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 34px;
                width: 34px;
                border: 2px solid black;
                border-radius: 50%;
                margin: 4px 0px 12px 0px;
                box-shadow: none;
            }
                .seq input {
                    display: inline-block;
                    opacity: 0;
                    height: 0;
                    width: 0;
                }
                .seq span {
                    display: inline-block;
                    height: 22px;
                    width: 22px;
                    background-color: #222a;
                    border: black 1px solid;
                    border-radius: 50%;
                    box-shadow: none;
                    transition: 0.3s;
                }
                    .seq input:checked + span {
                        background-color: hsl(174, 100%, 60%);
                        box-shadow: 0px 1px 10px 1px hsl(174, 100%, 80%);
                    }
                    .seq span:hover {
                        cursor: pointer
                    }
                    .seq span:active {
                        background-color: hsl(174, 100%, 90%);
                        box-shadow: 0px 1px 10px 10px hsl(174, 100%, 90%);
                    }
            .seq label.prob {
                width: 30px;
                height: 12px;
                border-radius: 5px;
                margin: 10px 2px 0px 2px;
            }
                .seq label.prob span {
                    height: 10px;
                    width: 28px;
                    border-radius: 3px;
                }
    .parameters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 22%;
        height: 90%;
        border-left: 2px solid #4446;
        border-radius: 8px;
    }
        .stepcount {
            background-color: #020511af;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 48%;
            height: 98%;
            margin: 1%;
            border: 2px solid black;
            border-radius: 8px;
        }
            .stepcount label {
                display: inline-block;
                text-align: center;
                width: 100%;
                height: 49%;
                margin-top: 1%;
                color: hsl(219, 20%, 90%);
                filter: drop-shadow(0px 0px 1px hsl(39, 40%, 90%));
                font-size: 12px;
                cursor: s-resize;
            }
            .stepcount input {
                display: inline-block;
                width: 60%;
                height: 42%;
                margin: 4% 20%;
                text-align: center;
                font-size: 17px;
                background-color: #4444;
                color: hsl(174, 20%, 80%);
                filter: drop-shadow(0px 0px 1px hsl(219, 20%, 50%));
                cursor: e-resize;
                transition: 0.5s;
            }
                .stepcount input:hover {
                    background-color: #1365;
                    color: hsl(219, 40%, 95%);
                }
                .stepcount input:focus {
                    outline: none;
                    color: hsl(219, 40%, 100%);
                }
                .stepcount input::-webkit-inner-spin-button {
                    display: inline-block;
                    cursor: pointer;
                }
        .multiplier {
            background-color: #020511af;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 49%;
            height: 98%;
            margin: 1% 1% 1% 0%;
            border: 2px solid black;
            border-radius: 8px;
        }
            .multiplier span {
                display: inline-block;
                text-align: center;
                width: 100%;
                height: 49%;
                margin-top: 1%;
                color: hsl(219, 20%, 90%);
                filter: drop-shadow(0px 0px 1px hsl(39, 40%, 90%));
                font-size: 12px;
                cursor: s-resize;
            }
            .multiplier select {
                display: inline-block;
                width: 60%;
                height: 42%;
                margin: 4% 20%;
                text-align: center;
                font-size: 16px;
                background-color: #3335;
                color: hsl(174, 20%, 90%);
                filter: drop-shadow(0px 0px 1px hsl(219, 20%, 50%));
                cursor: pointer;
                transition: 0.5s;
                border: 2px #111a solid;
                border-right-color: #8889;
                border-bottom-color: #8889;
                outline: none;
            }
            .multiplier select:hover {
                outline: none;
                background-color: #2475;
                color: hsl(219, 40%, 90%);
            }
            .tonality select:focus {
                outline: none;
                color: hsl(219, 40%, 100%);
            }
            .tonality select:active {
                outline: none;
                color: hsl(219, 40%, 100%);
            }